{
	"env": {
		"browser": true,
		"node": true,
		"es2021": true,
		"jest": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:jest/recommended",
		"plugin:prettier/recommended",
		"prettier/@typescript-eslint",
		"prettier/react"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"react-hooks",
		"@typescript-eslint",
		"prettier"
	],
	"rules": {
		"prettier/prettier": [
			"warn"
		],
		"react/display-name": [
			"off"
		],
		"react/prop-types": [
			"off"
		]
	},
	"settings": {
		"react": {
			"pragma": "React",
			"fragment": "Fragment",
			"version": "detect"
		}
	},
	"overrides": [
		{
			"files": [
				"*.js"
			],
			"env": {
				"commonjs": true
			},
			"rules": {
				"@typescript-eslint/no-var-requires": "off"
			}
		}
	]
}
